# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Output/data files (optional, if you don't want these in git)
output/

# Ignore generated data
data/*

# But keep the demo data used by the deployed application
!data/demo/
!data/demo/*.csv

docs/

reports/

tableau/

tools/

!tools/synthetic_data_creation

tests/